{% extends "base.html" %}

{% block page_title %}Email reset page{% endblock %}

{% block page_heading %}Reset Email{% endblock %}

{% block content %}

<form method="post" class="accountform">

<p>Please enter your password</p>
<br>

<div style="display:none">	
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">	
</div>

{{ form }}
<p>
    <label for="Password1">Password:</label>
    <input type="text" value="Password1"/>
</p>
<p>
    <label for="Password2">Confirm password:</label>
    <input type="text" value="Password2"/>
</p>

</form>

{% endblock %}